---
import MarkdownPostLayout from "../layouts/MarkdownPostLayout.astro";
import { getCollection, render } from "astro:content";
import "../styles/global.css";

export async function getStaticPaths() {
  const postEntries = await getCollection("post");
  return postEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<MarkdownPostLayout>
  <a href="/">
    <h1>Patterns in Leaves</h1>
  </a>
  <h1>{entry.data.title}</h1>
  <Content />
</MarkdownPostLayout>
