---
// import '../styles/global.css';
import '../styles/global2.css';
// import '../styles/texture.css';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Patterns in Leaves</title>
  </head>
  <body>
      <h1>Patterns in Leaves</h1>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <h1>About Me</h1>
      <h2>... and my new Astro site!</h2>

      <p>
        I am working through Astro's introductory tutorial. This is the second
        page on my website, and it's the first one I built myself!
      </p>

      <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
      </p>

<div class="svg-filters">
<!-- <div> -->
    <svg>
        <defs>
            <filter id="noiseFilter" x="0" y="0" width="100%" height="100%">
                <feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="2" result="noise"/>
                <feDiffuseLighting in="noise" lighting-color="white" surfaceScale="2" result="light">
                    <feDistantLight azimuth="45" elevation="55"/>
                </feDiffuseLighting>
                <feComposite in="SourceGraphic" in2="light" operator="arithmetic" k1="1" k2="0" k3="0" k4="0"/>
            </filter>
        </defs>
    </svg>
</div>
  </body>

</html>
