---
import "../styles/global.css";
import { getCollection } from "astro:content";
const allPosts = await getCollection("post");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/kgy5xxh.css" />
    <link rel="stylesheet" href="https://use.typekit.net/kgy5xxh.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Znamenny+Musical+Notation&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Patterns in Leaves</title>
  </head>
  <body>
    <body>
      <h1>Patterns in Leaves</h1>

      <a href="/">Home</a>
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <p>{post.data.created}</p>
              <a href={`${post.slug}`}>post 1</a>
            </li>
          ))
        }
      </ul>
    </body>
  </body>
</html>
